@model IList<Person>

<h1>List of People</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
           <partial name="PersonRowPartial" model="person"/>
        }
    </tbody>
</table>
